html{
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding-left: 10px;
}

flashes h4 {
    line-height: 2;
}

.nav-wrapper{
    background-color: #117A65;
}

.search text-shadow{
    background-color: #38A18C;
}


.row card-panel {
    width: 200px;
    display: flex;
    align-items: right;
}

.card {
    background-color:#D6E0DE;
}

.card .card-image .card-title{
    background-color:none;
    font-weight: bold;
}
.card .card-image img {
  background-color: none;  
  border-color: none;
  align-content: center;
  padding: 40px; 
}
.card .card-action{
    background-color: #117A65;
    color: bisque;
}


.btn-small {
    margin:5px;
}

footer{
  margin:15px;  
  padding:20px;
  background-color: #117A65;
  color:white;  
}