<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3 class="center-align">About</h3>
        <p>In my search for boardgames for me and my friend it was hard search the internet and not get recommended romantic games for adults.
            This gave me my mission to do my own list with boardgames without scrolling through the boardgames you wouldn’t be interested in.
            I have search trough others top recommened games according to users and have summed up top 10 boardgames thats fun for two people. <br>
            Hope you find your favorite.
        </p><br>
        
        <p>More game tips and my inspiration:</p>
        <p><a href="https://www.amazon.com/Best-Sellers-Toys-Games-Board/zgbs/toys-and-games/">Amazon best sellers</a></p> 

    </div>

{% endblock %}