<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h2>Boardgames for Adults</h2>
    <p>Get an opportunity to connect with your significant other and a break from Netflix and other devices. You can of course invite your friends to for some of the games.
    We have summarized a guide in the search for the best two player board games adult games 2020
    </p>   

    {% for boardgame in boardgames %}
          
        <div class="row">
            <div class="col s12 m7">
                 <div class="card">
                    <div class="card-image">
                        <img src="{{ boardgame.image_source }}" alt="boardgame">
                        <span class="card-title">{{ boardgame.name }}</span>
                    </div>
                        <div class="card-content">
                            <p>
                                {{ boardgame.description }}
                            </p> 
                        </div>
                        <div class="card-action">
                        <a href="{{ boardgame.link }}" target ="_blank">This is a link</a> <!--link to buy game page-->                       
                    </div>
                </div>
            </div>
        </div>
    
    {% endfor %}   

{% endblock %}