<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <h2>Boardgames for Adults</h2>
    <p>Get an opportunity to connect with your significant other and a break from Netflix and other devices. You can of course invite your friends to for some of the games.
    We have summarized a guide in the search for the best two player board games adult games 2020
  </p>

   <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/414WxWfls3L._SY404_BO1,204,203,200_.jpg">
          <span class="card-title">Wine wars</span>
        </div>
        <div class="card-content">
          <p>This fun and fascinating trivia game tests your knowledge of the fruit of the vine. Let the battle begin as players answerquestions in categories such as Vine to Vino (growing grapes, making wine, and world production), Wine Cellar (selecting, storing, and tasting wine), and Cork Culture (wine people, business, arts and science, and trivia). Perfect for those new to the world of wine, but challenging enough for the devoted oenophile, Wine Wars will have you swirling, sniffing, and sipping your way to vinicultural victory..</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}