{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="center-align">Members Game tips</h3>
        <h6 class="center-align">Do you want others to read about your awesome game?<br>You are welcome to register and add it to the list!</h6>
        <div class="card-quotes center-align">   
                {% for game in add_game %}
                    <!--{{ game.category }} additional feature -->
                    <!--<div class="divider"></div>-->
                            <div class="section.list member-list-img">
                                <h5><b>{{ game.category_name }}</b></h5>
                                <h6>Description:</h6>
                                <p>{{ game.game_description }}</p>
                                <h6>My review:</h6>
                                <p><b><q>{{ game.user_note }}</q></b></p>
                                <p><em>by:{{ game.created_by }}</em></p> 
                            </div>   
                {% endfor%}
        </div>    
    </div>

{% endblock%}